version: '3.7'

services:
  pg-db:
    image: postgres:15
    container_name: pg-db
    restart: always

    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}

    volumes:
      - ./databases:/docker-entrypoint-initdb.d:Z
      - postgres_data:/var/lib/postgresql/data 
    ports:
      - "5432:5432"


  pgadmin:
    image: dpage/pgadmin4

    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_PASSWORD}

    restart: always
    ports:
      - "5050:80"

volumes:
  postgres_data:
